.video-js .vjs-control-bar {
  background-color: transparent;
  display: none;
}

.video-js .vjs-big-play-button {
  background-color: transparent;
  display: block;
  border: none;
  padding: 0px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.video-js:hover .vjs-big-play-button {
  background-color: transparent;
  border: none;
  padding: 0px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
